<h2 style="text-align: center ;">Encuéntranos en tu ciudad</h2>

<div class="row" >
    <div class="col" s6 style="text-align: left;">
        <h5 > Bogotá </h5>
        <h6 > Cll 134 # 9-51 </h6>
        <h5 > Cali </h5>
        <h6 > Cll 5 # 38D-35 </h6>
        <h5 > Bucaramanga </h5>
        <h6 > Cra 17 # 45-77 </h6>
        <h5 > Rionegro </h5>
        <h6 > Cll 43 # 56 </h6>
    </div>

    <div class="col" s6 style="text-align: right;">
        <h5 > Medellín </h5>
        <h6 > Cll 10 # 43E - 135 </h6>
        <h5 > Barranquilla </h5>
        <h6 > Cra. 51B # 87-50 </h6>
        <h5 > Pereira </h5>
        <h6 > Cra 10 # 14-71 </h6>
        
    </div>

</div>


