<nav class ="barra-navegacion">
    <div class="nav-wrapper">
        <a routerLink="/inicio" class="brand-logo">SMART VEHICLE  <i class="material-icons">directions_car</i></a>
        <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li *ngIf="seInicioSesion"><a routerLink="/administracion/listar-vehiculos">Vehiculos</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/nosotros">Nuestra Compañia</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/modulos/contactenos">Contactenos</a></li>
            <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cambio-clave">Cambiar clave</a></li>
            <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificacion" class="letra-grande">Iniciar sesión</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li *ngIf="seInicioSesion"><a routerLink="/modulos/nosotros">Nuestra Compañia</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/modulos/contactenos">Contactenos</a></li>
    <li *ngIf="seInicioSesion"><a routerLink="/seguridad/cambio-clave">Cambiar clave</a></li>
    <li *ngIf="!seInicioSesion"><a routerLink="/seguridad/identificacion">Iniciar sesión</a></li>
</ul>
