<nav class ="barra-navegacion">
    <div class="nav-wrapper">
        <a routerLink="/inicio" class="brand-logo">SMART VEHICLE</a>
        <a routerLink="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a routerLink="/administracion/listar-vehiculos">Vehiculos</a></li>
            <li><a routerLink="/nosotros">Nuestra Compañia</a></li>
            <li><a routerLink="/modulos/contactenos">Contactenos</a></li>
            <li><a routerLink="/seguridad/cambio-clave">Cambiar clave</a></li>
            <li><a routerLink="/seguridad/identificar" class="letra-grande">Iniciar sesión</a></li>
        </ul>
    </div>
</nav>

<ul class="sidenav" id="mobile-demo">
    <li><a routerLink="/modulos/nosotros">Nuestra Compañia</a></li>
    <li><a routerLink="/modulos/contactenos">Contactenos</a></li>
    <li><a routerLink="/seguridad/cambio-clave">Cambiar clave</a></li>
    <li><a routerLink="/seguridad/identificar">Iniciar sesión</a></li>
</ul>
